<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>畅游</title>
    <link rel="stylesheet" href="/stylesheets/destination.css">
    <script src="/javascripts/jquery-3.1.0.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/javascript/mudidi.js"></script>
    <script src="/javascripts/script.js"></script>
</head>
<body>
<div class="comtent">

    <header>
        <!--导航栏-->
        <%- include ../util/header-H.ejs%>
    </header>
    <section>
    <!--轮播图片-->
    <div class="bg-image">
        <!--搜索背景-->
        <div class="search-1">
            <h2>Don't fear the unknow</h2>
           <input type="text" class="search-2"  placeholder="我想去...">
            <p style="font-size: 14px">武汉 青岛 巴厘岛 济州岛 台湾</p>
        </div>
        <div class="tet-search">
            <p>
             <h5 style="color: white">作者/目的地专家</h5>
            </p>
            <p>
              <h2>先定一个小目标，比如成为一个火锅达人</h2>
            </p>
            <p>
                <h4>人生何必复杂，没有什么事是吃一顿火锅解决不了的</h4>
            </p>
            <a href="#a"><img src="/images/mudidi/箭头下.png"></a>
        </div>

    </div>

    <a name="a"></a><div class="hot">
        <h1 style="text-align: center">热门目的地</h1>
        <div class="hot-list clearfix">
            <div class="col">
                <dl>
                    <dt>直辖市</dt>
                    <dd>
                        <a href="" target="_blank">北京</a>
                        <a href="" target="_blank">上海</a>
                        <a href="" target="_blank">上海迪士尼度假区</a>
                        <a href="" target="_blank">重庆</a>
                        <a href="" target="_blank">天津</a>
                    </dd>
                </dl>
                <dl>
                    <dt><a href="" target="_blank">云南</a></dt>
                    <dd>
                        <a href="" target="_blank">丽江</a>
                        <a href="" target="_blank">大理</a>
                        <a href="" target="_blank">昆明</a>
                        <a href="" target="_blank">香格里拉</a>
                        <a href="" target="_blank">双廊</a>
                        <a href="" target="_blank">西双版纳</a>
                        <a href="" target="_blank">束河</a>
                        <a href="" target="_blank">腾冲</a>
                        <a href="" target="_blank">雨崩</a>
                    </dd>
                </dl>
                <dl>
                    <dt><a href="" target="_blank">四川</a></dt>
                    <dd>
                        <a href="" target="_blank">成都</a>
                        <a href="" target="_blank">九寨沟</a>
                        <a href="" target="_blank">稻城</a>
                        <a href="" target="_blank">色达</a>
                        <a href="" target="_blank">若尔盖</a>
                        <a href="" target="_blank">都江堰</a>
                        <a href="" target="_blank">亚丁</a>
                        <a href="" target="_blank">阿坝</a>
                        <a href="" target="_blank">峨眉山</a>
                        <a href="" target="_blank">牛背山</a>
                    </dd>
                </dl>
                <dl>
                    <dt><a href="" target="_blank">浙江</a></dt>
                    <dd>
                        <a href="" target="_blank">杭州</a>
                        <a href="" target="_blank">乌镇</a>
                        <a href="" target="_blank">西塘</a>
                        <a href="" target="_blank">宁波</a>
                        <a href="" target="_blank">千岛湖</a>
                        <a href="" target="_blank">舟山</a>
                        <a href="" target="_blank">绍兴</a>
                        <a href="" target="_blank">嵊泗</a>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <a href="" target="_blank">海南</a>
                        <a href="" target="_blank">福建</a></dt>
                    <dd>
                        <a href="" target="_blank">三亚</a>
                        <a href="" target="_blank">厦门</a>
                        <a href="" target="_blank">鼓浪屿</a>
                        <a href="" target="_blank">武夷山</a>
                        <a href="" target="_blank">霞浦</a>
                        <a href="" target="_blank">泉州</a>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <a href="" target="_blank">江苏</a>
                    </dt>
                    <dd>
                        <a href="" target="_blank">南京</a>
                        <a href="" target="_blank">苏州</a>
                        <a href="" target="_blank">无锡</a>
                        <a href="" target="_blank">扬州</a>
                        <a href="" target="_blank">周庄</a>
                        <a href="" target="_blank">常州</a>
                        <a href="" target="_blank">连云港</a>
                        <a href="" target="_blank">同里</a>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <a href="" target="_blank">广东</a>
                        <a href="" target="_blank">广西</a>
                    </dt>
                    <dd>
                        <a href="/destination/guangzhou" target="_blank">广州</a>
                        <a href="" target="_blank">深圳</a>
                        <a href="" target="_blank">珠海</a>
                        <a href="" target="_blank">汕头</a>
                        <a href="" target="_blank">桂林</a>
                        <a href="" target="_blank">阳朔</a>
                        <a href="" target="_blank">北海</a>
                        <a href="" target="_blank">黄姚古镇</a>
                        <a href="" target="_blank">涠洲岛</a>
                        <a href="" target="_blank">龙脊梯田</a>
                    </dd>
                </dl>
            </div>
            <div class="col">
                <dl>
                    <dt>
                        <a href="" target="_blank">西藏</a>
                        <a href="" target="_blank">贵州</a>
                    </dt>
                    <dd>
                        <a href="" target="_blank">拉萨</a>
                        <a href="" target="_blank">林芝</a>
                        <a href="" target="_blank">阿里</a>
                        <a href="" target="_blank">黔东南</a>
                        <a href="" target="_blank">荔波</a>
                        <a href="" target="_blank">镇远</a>
                        <a href="" target="_blank">西江</a>
                        <a href="" target="_blank">黄果树</a>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <a href="" target="_blank">西北</a>
                    </dt>
                    <dd>
                        <a href="" target="_blank">西安</a>
                        <a href="" target="_blank">青海湖</a>
                        <a href="" target="_blank">西宁</a>
                        <a href="" target="_blank">祁连</a>
                        <a href="" target="_blank">敦煌</a>
                        <a href="" target="_blank">兰州</a>
                        <a href="" target="_blank">甘南</a>
                        <a href="" target="_blank">张掖</a>
                        <a href="" target="_blank">嘉峪关</a>
                        <a href="" target="_blank">新疆</a>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <a href="" target="_blank">山东</a>
                        <a href="" target="_blank">山西</a>
                    </dt>
                    <dd>
                        <a href="" target="_blank">青岛</a>
                        <a href="" target="_blank">泰山</a>
                        <a href="" target="_blank">日照</a>
                        <a href="" target="_blank">威海</a>
                        <a href="" target="_blank">烟台</a>
                        <a href="" target="_blank">长岛</a>
                        <a href="" target="_blank">蓬莱</a>
                        <a href="" target="_blank">平遥</a>
                        <a href="" target="_blank">大同</a>
                        <a href="" target="_blank">五台山</a>
                        <a href="" target="_blank">壶口瀑布</a>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <a href="" target="_blank">湖南</a>
                        <a href="" target="_blank">湖北</a>
                    </dt>
                    <dd>
                        <a href="" target="_blank">张家界</a>
                        <a href="" target="_blank">凤凰</a>
                        <a href="" target="_blank">郴州</a>
                        <a href="" target="_blank">武汉</a>
                        <a href="" target="_blank">恩施</a>
                        <a href="" target="_blank">神农架</a>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <a href="" target="_blank">安徽</a>
                        <a href="" target="_blank">江西</a>
                    </dt>
                    <dd>
                        <a href="" target="_blank">黄山</a>
                        <a href="" target="_blank">宏村</a>
                        <a href="" target="_blank">婺源</a>
                        <a href="" target="_blank">景德镇</a>
                        <a href="" target="_blank">庐山</a>
                        <a href="" target="_blank">三清山</a>
                        <a href="" target="_blank">南昌</a>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <a href="" target="_blank">河北</a>
                        <a href="" target="_blank">河南</a>
                    </dt>
                    <dd>
                        <a href="" target="_blank">北戴河</a>
                        <a href="" target="_blank">秦皇岛</a>
                        <a href="" target="_blank">承德</a>
                        <a href="" target="_blank">张北</a>
                        <a href="" target="_blank">少林寺</a>
                        <a href="/destination/luoyang" target="_blank">洛阳</a>
                        <a href="" target="_blank">龙门石窟</a>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <a href="" target="_blank">内蒙古</a>
                        <a href="" target="_blank">东北</a>
                    </dt>
                    <dd>
                        <a href="" target="_blank">呼伦贝尔</a>
                        <a href="" target="_blank"></a>
                        <a href="" target="_blank">阿尔山</a>
                        <a href="" target="_blank">海拉尔</a>
                        <a href="" target="_blank"></a>
                        <a href="" target="_blank">哈尔滨</a>
                        <a href="" target="_blank">漠河</a>
                        <a href="" target="_blank">雪乡</a>
                        <a href="" target="_blank">大连</a>
                        <a href="" target="_blank">丹东</a>
                        <a href="" target="_blank">盘锦</a>
                    </dd>
                </dl>

            </div>
            <!--当季推荐-->

            <div class="Month">
                <h1 style="text-align: center">当季推荐</h1>
                <div class="pic">
                        <div class="pic-top1">
                            <div class="pic-top-1" style="background-color: red">
                              <img class="pic-top-img" src="/images/mudidi/m-pic1.jpg">
                                　　<span class="img-word1">广州</span>
                             </div>
                            <div class="pic-top-1">
                                <img class="pic-top-img" src="/images/mudidi/m-pic2.jpg">
                                　　<span class="img-word1">上海</span>
                            </div>
                            <div class="pic-top-1">
                                <img  class="pic-top-img" src="/images/mudidi/m-pic3.jpg">
                                　　<span class="img-word1">北京</span>
                            </div>
                        </div>
                    <div class="pic-bottom1">
                        <div class="pic-bottom1-1">
                            <img class="pic-bottom1-img" src="/images/mudidi/m-pic4.jpg">
                            　　<span class="img-word2">成都</span>
                        </div>

                        <div class="pic-bottom1-1">
                            <img  class="pic-bottom1-img" src="/images/mudidi/m-pic5.jpg">
                            　　<span  class="img-word2">黑龙江</span>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
    </section>
    <footer>

    </footer>
</div>
<script src="/javascripts/jquery-3.1.0.js"></script>


</body>
</html>