<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>找回密码</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/ForgetPassword.css'>

    <script src="/javascripts/jquery-3.1.0.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/javascripts/drag.js"></script>
    <script type="text/javascript" src="/javascripts/easyform.js"></script>

</head>
<body>

<div class="panel panel-default" id="section">
    <div class="panel-heading">找回密码</div>
    <div class="panel-body">
        <form role="form"  action="/users/ResetPwd" method="post" id="myForm" >
            <div class="form-group">
                <input type="text" class="form-control input-lg" id=" UserName" name="UserName" required="required"
                       placeholder="您的用户名">
                <input type="text" class="form-control input-lg" id=" UserPhone" name="UserPhone" required="required" placeholder="您的手机号">
            </div>
            <div id="drag"></div>
            <script type="text/javascript">
                $('#drag').drag();
            </script>
            <div style="text-align:center;margin:50px 0; font:normal 14px/24px  'MicroSoft YaHei';" id="Drag">
            </div>
            <button type="submit" class="btn btn-warning  btn-lg" id="submit" >立即找回</button>
        </form>
    </div>


</div>



</body>
</html>