<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>广州</title>
</head>
<body>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/guangzhou.css">
<script src="/javascripts/script.js"></script>

    <!--导航-->
<%- include ../util/nav.ejs%>
    <!--header-->
    <header>
        <div class="header">
            <div class="header-1 ">
                <ol class="breadcrumb">
                    <li class="active">目的地</li>
                    <li class="active">广东</li>
                    <li class="active">广州</li>
                    <li class="active" style="color: #FE7000">广州景点</li>
                </ol>
                <!--<div class="list-unstyled list-inline">&ndash;&gt;-->
                   <!--<div class="icon-right1"><span style="font-size: 16px">收藏</span></div>&ndash;&gt;-->

                <!--<div class="icon-right2"></div>-->
                    <!--<span style="font-size: 16px">去过</span>-->
                    <!--</div>-->
            <div class="header-2">
                <div>广州</div>
                <div>GuangZhou</div>
                <ul class="list-unstyled list-inline icon">
                    <li class="icon-1"><a href="#ico-1" style="color: grey">概况</a> </li>
                    <li class="icon-2"><a href="#ico-2" style="color: grey">景点</a></li>
                    <li class="icon-3"><a href="#ico-3" style="color: grey">社区</a></li>
                    <li class="icon-4"><a href="#ico-4" style="color: grey">地图</a></li>
                 </ul>



            </div>
        </div>

    </div>
</header>
<div class="container">
<section>

    <div class="section">
        <div class="section-top">
            <div class="section-top-l">
                <img src="/images/mudidi/guangzhou/1.png">
            </div>
            <div class="section-top-r">
                <div class="m-impress">
                    <h3 class="hd">广州印象</h3>
                    <div class="bd clearfix">
                        <ul  class="list-unstyled list-inline tag" style="height: 140px; width:285px;overflow: hidden">
                            <li title="" class="li1">
                                <a href="" target="_blank">玉虚宫<em>2660</em></a>
                            </li>
                            <li title="">
                                <a href="" target="_blank">蓝埔<em>735</em></a>
                            </li>
                            <li title="">
                                <a href="" target="_blank">观音圣镜<em>308</em></a>
                            </li>
                            <li title="">
                                <a href="" target="_blank">南澳<em>309</em></a>
                            </li>
                            <li title="">
                                <a href="" target="_blank">怀圣寺<em>202</em></a>
                            </li>
                            <li title="">
                                <a href="" target="_blank">雁塔公园<em>108</em></a>
                            </li>
                            <li title="">
                                <a href="" target="_blank">溪头村<em>18</em></a>
                            </li>
                            <li title="">
                                <a href="" target="_blank">花城广场<em>70</em></a>
                            </li>
                            <li title="">
                                <a href="" target="_blank">五羊石像<em>623</em></a>
                            </li>
                        </ul>
                    </div>
              </div>
                <div class="section-top-r-bottom" >
                    <img src="/images/mudidi/guangzhou/2.jpeg">
                </div>
                </div>
        </div>


    </div>
    <div class="section-center">
        <a name="ico-1"></a><h2 class="title">景点概况</h2>
        <div>
               <p id="mdd_poi_desc">这个城市没有冬天，没有寒冷，永远都是那么暖意洋洋，永远都是那么热火朝天；这个城市的每一条街道，都灯火辉煌，明亮耀眼；广州大多数景点都需要1天的时间来游览，最有特色是有着异域风情的沙面和拥有130多年历史的石室圣心大教堂。
                   另外陈家祠、现代化建筑广州塔和已有2100多年历史的南越王墓也是值得一看的地方。</p>
        </div>
    </div>

    <!--script-->

    <div class="section-bottom">
       <a name="jd"></a> <div class="section-bottom-content">
        <a name="ico-2"></a><h2>必游景点</h2>
            <!--长隆旅游度假区-->
            <div class="frist">
                <div class="frist-left">
                    <p><span class="span1">1</span><span class="span2">长隆旅游度假区</span><span class="span3">281条评论</span></p>
                    <p>整个度假区很适合带孩子游玩，家庭周末出游的上佳选择这里还包含景点库</p>
                    <p>这里还包含景点 <a>广州番禺长隆香江野</a> <a>生动物世界</a> <a> 长隆欢乐世界</a> <a> 长隆欢乐世界中心演艺广场 </a> <a>广州鳄鱼公园(长隆)</a> <a>白园</a> <a>香山寺</a></p>
                </div>
                <div class="frist-center">
                    <img src="/images/mudidi/guangzhou/1-1.png">
                </div>
                <div class="frist-right">
                    <img src="/images/mudidi/guangzhou/1-2.png">
                    <img src="/images/mudidi/guangzhou/1-3.png">
                </div>
            </div>
            <!--广州塔(小蛮腰)-->
            <div class="frist">
                <div class="frist-left">
                    <p><span class="span1">2</span><span class="span2">广州塔(小蛮腰)</span><span class="span3">4143条评论</span></p>
                    <p>中国国内第一高塔，不仅有着变换的色彩，还可展现出动人的空中交响乐</p>
                </div>
                <div class="frist-center">
                    <img src="/images/mudidi/guangzhou/2-1.jpeg">
                </div>
                <div class="frist-right">
                    <img src="/images/mudidi/guangzhou/2-2.jpeg">
                    <img src="/images/mudidi/guangzhou/2-3.jpeg">
                </div>
            </div>
            <!--沙面-->
            <div class="frist">
                <div class="frist-left">
                    <p><span class="span1">3</span><span class="span2">沙面</span><span class="span3">43178条评论</span></p>
                    <p> 拾翠洲，一个历史韵味丰富、极富异国情调、风光旖旎的地方</p>
                </div>
                <div class="frist-center">
                    <img src="/images/mudidi/guangzhou/3-1.jpeg">
                </div>
                <div class="frist-right">
                    <img src="/images/mudidi/guangzhou/3-2.jpeg">
                    <img src="/images/mudidi/guangzhou/3-3.jpeg">
                </div>
            </div>
            <!--4、石室圣心大教堂-->
            <div class="frist">
                <div class="frist-left">
                    <p><span class="span1">4</span><span class="span2">石室圣心大教堂</span><span class="span3">2239条评论</span></p>
                    <p>天主教广州教区最宏伟、最具特色的一座大教堂</p>

                </div>
                <div class="frist-center">
                    <img src="/images/mudidi/guangzhou/4-1.jpeg">
                </div>
                <div class="frist-right">
                    <img src="/images/mudidi/guangzhou/4-2.jpeg">
                    <img src="/images/mudidi/guangzhou/4-3.jpeg">
                </div>
            </div>
            <!--5、越秀公园-->
            <div class="frist">
                <div class="frist-left">
                    <p><span class="span1">5</span><span class="span2">越秀公园</span><span class="span3">1406条评论</span></p>
                    <p>羊城八景之一，自然风光秀丽
                    <p>这里还包含景点 <a>广州番禺长隆香江野</a></p>
                </div>
                <div class="frist-center">
                    <img src="/images/mudidi/guangzhou/5-1.jpeg">
                </div>
                <div class="frist-right">
                    <img src="/images/mudidi/guangzhou/5-2.jpeg">
                    <img src="/images/mudidi/guangzhou/5-3.jpeg">
                </div>
            </div>
        </div>


        <!--<div class="wrapper">-->

                <!--<div class="wrapper1">-->
                    <!--<h2 class="hd">必游景点排行</h2>-->
                    <!--<div class="wrapper-l">-->

                        <!--<div class="xu1">1</div><span class="span1">龙门石窟</span>-->
                        <!--<div class="img1">-->
                            <!--<img src="public/images/mudidi/luoyang/icon/longmen.jpeg">-->
                        <!--</div>-->
                        <!--<p class="text1">龙门石窟是中国石刻艺术宝库之一，现为世界文化遗产、全国重点文物保护单位、国家5A级旅游景区，位于洛阳市南郊伊河两岸的龙门山与-->
                            <!--香山上。龙门石窟与莫高窟、云冈石窟、麦积山石窟并称中国四大石窟。</p>-->
                    <!--</div>-->
                <!--</div>-->


                <!--<div class="wrapper2">-->
                    <!--<h2 class="hd">必游景点排行</h2>-->
                    <!--<div class="wrapper-2">-->

                        <!--<div class="xu2">2</div><span class="span2">龙门石窟</span>-->
                        <!--<div class="img2">-->
                            <!--<img src="public/images/mudidi/luoyang/icon/longmen.jpeg">-->
                        <!--</div>-->
                        <!--<p class="text2">龙门石窟是中国石刻艺术宝库之一，现为世界文化遗产、全国重点文物保护单位、国家5A级旅游景区，位于洛阳市南郊伊河两岸的龙门山与-->
                            <!--香山上。龙门石窟与莫高窟、云冈石窟、麦积山石窟并称中国四大石窟。</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--<div class="wrapper3">-->
                <!--<h2 class="hd">必游景点排行</h2>-->
                <!--<div class="wrapper-3">-->

                    <!--<div class="xu3">3</div><span class="span3">龙门石窟</span>-->
                    <!--<div class="img3">-->
                        <!--<img src="public/images/mudidi/luoyang/icon/longmen.jpeg">-->
                    <!--</div>-->
                    <!--<p class="text3">龙门石窟是中国石刻艺术宝库之一，现为世界文化遗产、全国重点文物保护单位、国家5A级旅游景区，位于洛阳市南郊伊河两岸的龙门山与-->
                        <!--香山上。龙门石窟与莫高窟、云冈石窟、麦积山石窟并称中国四大石窟。</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
    <div class="section-bottom-content-hot">
        <h2>热门景点</h2>
        <div class="content-hot">
            <div class="div-pic-1">
                <div class="hot-pic-1">
                    <img  src="/images/mudidi/guangzhou/hot-1.jpeg">
                    <div class="black">
                        <p>白云山</p>
                        <p>南粤名山之一，被称为羊城第一秀、南 </p>
                        <p>越第一山 </p>
                    </div>
                </div>
                <div class="hot-pic-2">
                    <img  src="/images/mudidi/guangzhou/hot-2.jpeg">
                    <div class="black">
                        <p>陈家祠</p>
                        <p>广东现规模最大、保存最完整、装饰最精美的古代艺术建筑 </p>
                    </div>
                </div>
            </div>
            <div class="div-pic-2">
                <div class="hot-pic-3">
                    <img  src="/images/mudidi/guangzhou/hot-3.jpeg">
                    <div class="black">
                        <p>红砖厂创意园</p>
                        <p>一处有时尚、创意、艺术和人文精神 </p>
                        <p>的新领域 </p>
                    </div>
                </div>
                <div class="hot-pic-4">
                    <img  src="/images/mudidi/guangzhou/hot-4.jpeg">
                    <div class="black">
                        <p>黄埔军校旧址</p>
                        <p>孙中山于1942年创办的，是世界历史上 </p>
                        <p>四大军校之一 </p>
                    </div>
                </div>
                <div class="hot-pic-5">
                    <img  src="/images/mudidi/guangzhou/hot-5.jpeg">
                    <div class="black">
                        <p>中山大学</p>
                        <p>中国最著名的学府之一，建筑独特，绿 </p>
                        <p>树成荫</p>
                    </div>
                </div>
            </div>
            <div class="div-pic-3"></div>
            <div class="div-pic-4"></div>


        </div>


    </div>
</section>


</div>
<script src="/javascripts/jquery-3.1.0.js"></script>
<script src="../public/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
