<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>洛阳</title>
</head>
<body>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/luoyang.css">
<script src="/javascripts/mudidi.js"></script>
<script src="/javascripts/script.js"></script>


    <!--导航-->
<%- include ../util/nav.ejs%>
    <!--header-->
    <header>
        <div class="header">
            <div class="header-1 ">
                <ol class="breadcrumb">
                    <li class="active">目的地</li>
                    <li class="active">河南</li>
                    <li class="active">洛阳</li>
                    <li class="active" style="color: #FE7000">洛阳旅游攻略</li>
                </ol>
                <!--<div class="list-unstyled list-inline">&ndash;&gt;-->
                   <!--<div class="icon-right1"><span style="font-size: 16px">收藏</span></div>&ndash;&gt;-->

                <!--<div class="icon-right2"></div>-->
                    <!--<span style="font-size: 16px">去过</span>-->
                    <!--</div>-->
            <div class="header-2">
                <div>洛阳</div>
                <div>LuoYang</div>
                <ul class="list-unstyled list-inline icon">
                    <li class="icon-1"><a href="#ico-1" style="color: grey">概况</a> </li>
                    <li class="icon-2"><a href="#ico-2" style="color: grey">景点</a></li>
                    <li class="icon-3"><a href="#ico-3" style="color: grey">社区</a></li>
                    <li class="icon-4"><a href="#ico-4" style="color: grey">地图</a></li>
                 </ul>



            </div>
        </div>

    </div>
</header>
<div class="container">
<section>

    <div class="section">
        <div class="section-top">
            <div class="section-top-l">
                <img src="/images/mudidi/luoyang/icon/sesscon-top-l.jpeg">
            </div>
            <div class="section-top-r">
                <div class="m-impress">
                    <h3 class="hd">洛阳印象</h3>
                    <div class="bd clearfix">
                        <ul  class="list-unstyled list-inline tag" style="height: 140px;overflow: hidden">
                            <li title="" class="li1">
                                <a href="" target="_blank"> 牡丹<em>610</em></a>
                            </li>
                            <li title="">
                                <a href="" target="_blank">博物馆<em>435</em></a>
                            </li>
                            <li title="">
                                <a href="" target="_blank">小吃<em>388</em></a>
                            </li>
                            <li title="">
                                <a href="" target="_blank">汤<em>380</em></a>
                            </li>
                            <li title="">
                                <a href="" target="_blank">洛阳水席<em>202</em></a>
                            </li>
                            <li title="">
                                <a href="" target="_blank">唐三彩<em>108</em></a>
                            </li>
                            <li title="">
                                <a href="" target="_blank">古建筑<em>108</em></a>
                            </li>
                            <li title="">
                                <a href="" target="_blank">赏花<em>70</em></a>
                            </li>
                            <li title="">
                                <a href="" target="_blank">青铜器<em>23</em></a>
                            </li>
                        </ul>
                    </div>
              </div>
                <div class="section-top-r-bottom" >
                    <img src="/images/mudidi/luoyang/icon/pic-tu.jpeg">
                </div>
                </div>
        </div>


    </div>
    <div class="section-center">
        <a name="ico-1"></a><h2 class="title">景点概况</h2>
        <div>
               <p id="mdd_poi_desc">洛阳市内的景点主要集中在洛龙区、西工区和老城区，龙门石窟、丽景门洛阳的标志性景点。如果想观赏牡丹，可以到王城公园或老城区邙山一带的公园游览。<br />
    洛龙区：洛阳精华景点最集中的区域，有龙门石窟、白马寺等著名景点。<br />
    老城区：最能反映古洛阳历史和文化的一个区，也是洛阳生活气息最浓的区。</p>
        </div>
    </div>

    <!--script-->

    <div class="section-bottom">
       <a name="jd"></a> <div class="section-bottom-content">
        <a name="ico-2"></a><h2>必游景点</h2>
            <!--龙门石窟-->
            <div class="frist">
                <div class="frist-left">
                    <p><span class="span1">1</span><span class="span2">龙门石窟</span><span class="span3">2306条评论</span></p>
                    <p>中国三大石窟之一，拥有97000余尊佛像的石刻艺术宝库</p>
                    <p>这里还包含景点 <a>西山石窟</a> <a>龙门大桥</a> <a>奉先寺</a> <a>东山石窟</a> <a>万佛洞</a> <a>白园</a> <a>香山寺</a></p>
                </div>
                <div class="frist-center">
                    <img src="/images/mudidi/luoyang/icon/longmen.jpeg">
                </div>
                <div class="frist-right">
                    <img src="/images/mudidi/luoyang/icon/longmen-1.jpeg">
                    <img src="/images/mudidi/luoyang/icon/longmen-2.jpeg">
                </div>
            </div>
            <!--白马寺-->
            <div class="frist">
                <div class="frist-left">
                    <p><span class="span1">2</span><span class="span2">洛阳白马寺</span><span class="span3">1689条评论</span></p>
                    <p>佛教传入中国后第一座由官府建造的寺院，有“中国第一古刹”之称</p>
                </div>
                <div class="frist-center">
                    <img src="/images/mudidi/luoyang/icon/baimashi.jpeg">
                </div>
                <div class="frist-right">
                    <img src="/images/mudidi/luoyang/icon/baimashi-1.jpeg">
                    <img src="/images/mudidi/luoyang/icon/baimashi-2.jpeg">
                </div>
            </div>
            <!--洛阳老街-->
            <div class="frist">
                <div class="frist-left">
                    <p><span class="span1">3</span><span class="span2">洛阳老街</span><span class="span3">489条评论</span></p>
                    <p>距今已有3050多年的历史的复古街道，是洛阳历史文化的缩影</p>
                </div>
                <div class="frist-center">
                    <img src="/images/mudidi/luoyang/icon/laojie.jpeg">
                </div>
                <div class="frist-right">
                    <img src="/images/mudidi/luoyang/icon/laojie-1.jpeg">
                    <img src="/images/mudidi/luoyang/icon/laojie-2.jpeg">
                </div>
            </div>
            <!--4、洛阳国家牡丹园-->
            <div class="frist">
                <div class="frist-left">
                    <p><span class="span1">4</span><span class="span2">洛阳国家牡丹园</span><span class="span3">239条评论</span></p>
                    <p>洛阳国家牡丹基因库,园中一株“千年牡丹王”为隋朝西苑遗物，是洛阳牡丹的“活化石”</p>

                </div>
                <div class="frist-center">
                    <img src="/images/mudidi/luoyang/icon/mudan.jpeg">
                </div>
                <div class="frist-right">
                    <img src="/images/mudidi/luoyang/icon/mudan-1.jpeg">
                    <img src="/images/mudidi/luoyang/icon/mudan-2.jpeg">
                </div>
            </div>
            <!--5、洛阳博物馆新馆-->
            <div class="frist">
                <div class="frist-left">
                    <p><span class="span1">5</span><span class="span2">洛阳博物馆新馆</span><span class="span3">306条评论</span></p>
                    <p>馆藏精品之丰富让人叹为观止，还能观赏到来自故宫的珍品</p>
                </div>
                <div class="frist-center">
                    <img src="/images/mudidi/luoyang/icon/bowuguan.jpeg">
                </div>
                <div class="frist-right">
                    <img src="/images/mudidi/luoyang/icon/bowuguan-1.jpeg">
                    <img src="/images/mudidi/luoyang/icon/bowuguan-2.jpeg">
                </div>
            </div>
        </div>


        <!--<div class="wrapper">-->

                <!--<div class="wrapper1">-->
                    <!--<h2 class="hd">必游景点排行</h2>-->
                    <!--<div class="wrapper-l">-->

                        <!--<div class="xu1">1</div><span class="span1">龙门石窟</span>-->
                        <!--<div class="img1">-->
                            <!--<img src="public/images/mudidi/luoyang/icon/longmen.jpeg">-->
                        <!--</div>-->
                        <!--<p class="text1">龙门石窟是中国石刻艺术宝库之一，现为世界文化遗产、全国重点文物保护单位、国家5A级旅游景区，位于洛阳市南郊伊河两岸的龙门山与-->
                            <!--香山上。龙门石窟与莫高窟、云冈石窟、麦积山石窟并称中国四大石窟。</p>-->
                    <!--</div>-->
                <!--</div>-->


                <!--<div class="wrapper2">-->
                    <!--<h2 class="hd">必游景点排行</h2>-->
                    <!--<div class="wrapper-2">-->

                        <!--<div class="xu2">2</div><span class="span2">龙门石窟</span>-->
                        <!--<div class="img2">-->
                            <!--<img src="public/images/mudidi/luoyang/icon/longmen.jpeg">-->
                        <!--</div>-->
                        <!--<p class="text2">龙门石窟是中国石刻艺术宝库之一，现为世界文化遗产、全国重点文物保护单位、国家5A级旅游景区，位于洛阳市南郊伊河两岸的龙门山与-->
                            <!--香山上。龙门石窟与莫高窟、云冈石窟、麦积山石窟并称中国四大石窟。</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--<div class="wrapper3">-->
                <!--<h2 class="hd">必游景点排行</h2>-->
                <!--<div class="wrapper-3">-->

                    <!--<div class="xu3">3</div><span class="span3">龙门石窟</span>-->
                    <!--<div class="img3">-->
                        <!--<img src="public/images/mudidi/luoyang/icon/longmen.jpeg">-->
                    <!--</div>-->
                    <!--<p class="text3">龙门石窟是中国石刻艺术宝库之一，现为世界文化遗产、全国重点文物保护单位、国家5A级旅游景区，位于洛阳市南郊伊河两岸的龙门山与-->
                        <!--香山上。龙门石窟与莫高窟、云冈石窟、麦积山石窟并称中国四大石窟。</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
    <div class="section-bottom-content-hot">
        <h2>热门景点</h2>
        <div class="content-hot">
            <div class="div-pic-1">
                <div class="hot-pic-1">
                    <img  src="/images/mudidi/luoyang/icon/hot-pic-1.jpeg">
                    <div class="black">
                        <p>丽景门</p>
                        <p>洛阳古城的象征，有“不到丽景门，枉来 </p>
                        <p>洛阳城一说” </p>
                    </div>
                </div>
                <div class="hot-pic-2">
                    <img  src="/images/mudidi/luoyang/icon/hot-pic-2.jpeg">
                    <div class="black">
                        <p>洛阳古墓博物馆</p>
                        <p>博物馆地下是移除规模宏大的地下古墓群，有年代久远的壁画可参观 </p>
                    </div>
                </div>
            </div>
            <div class="div-pic-2">
                <div class="hot-pic-3">
                    <img  src="/images/mudidi/luoyang/icon/hot-pic-3.jpeg">
                    <div class="black">
                        <p>丽景门</p>
                        <p>洛阳古城的象征，有“不到丽景门，枉来 </p>
                        <p>洛阳城一说” </p>
                    </div>
                </div>
                <div class="hot-pic-4">
                    <img  src="/images/mudidi/luoyang/icon/hot-pic-4.jpeg">
                    <div class="black">
                        <p>洛阳古墓博物馆</p>
                        <p>博物馆地下是移除规模宏大的地下古墓群， </p>
                    </div>
                </div>
                <div class="hot-pic-5">
                    <img  src="/images/mudidi/luoyang/icon/hot-pic-5.jpeg">
                    <div class="black">
                        <p>洛阳古墓博物馆</p>
                        <p>博物馆地下是移除规模宏大的地下古墓群 </p>
                    </div>
                </div>
            </div>
            <div class="div-pic-3"></div>
            <div class="div-pic-4"></div>


        </div>


    </div>
</section>


</div>
<script src="/javascripts/jquery-3.1.0.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
