<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设置新密码</title>
    <style>
        #username{
            display: none;
        }
    </style>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/ResetPassword.css'>

    <script src="/javascripts/jquery-3.1.0.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>


</head>
<body>
<div class="panel panel-default" id="section">
    <div class="panel-heading">设置新密码</div>
    <div class="panel-body">
        <form role="form"  action="/users/ResSetPwd" method="post">
            <div class="form-group" id="form-group11">
                <input type="text" class="form-control input-lg" id="username" name="userName" value="<%=meg[0].UserName%>"  >
            </div>
            <div class="form-group" id="form-group1">
                <input type="password" class="form-control input-lg" id="UserId" name="Userpwd" required="required" placeholder="请输入您的新密码">
            </div>
            <div class="form-group" id="form-group2">
                <input type="password" class="form-control input-lg" id="UserPwd" required="required" placeholder="请确认您的新密码">
            </div>
            <div class="form-group" id="form-group3" >
                <div id="form-group3-left"><input type="text" class="form-control input-lg" id="UserDrag" required="required" placeholder="短信验证码"></div>
                <div id="form-group3-right">
                    <input type="button"   class="btn btn-warning  btn-lg" id="btn"  value="获取验证码" />

                </div>
            </div>
            <button type="submit" class="btn btn-warning  btn-lg" id="submit" onclick="validate()">完成</button>
        </form>
    </div>

    <script src="/javascripts/Obtain.js"></script>
</div>
</body>
</html>