<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>世界上最拥挤的景区是哪儿？中国居然只占3个！</title>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/stylesheets/strategy_num2.css">
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/javascripts/jquery-3.1.0.js"></script>
    <script src="/javascripts/v1script.js"></script>

</head>
<body onload="bg_show1()">
<header>
    <!--导航栏-->
    <%- include ../util/nav.ejs%>
</header>
<div id="container">
    <div class="container clearfix">
        <div id="main">
            <div class="crumb"><a class="crumbs" href="">旅游攻略首页</a> > 世界上最拥挤的景区是哪儿？中国居然只占3个！</div>
            <h2 class="art-title"><strong>世界上最拥挤的景区是哪儿？中国居然只占3个！</strong></h2>
            <hr>
            <div class="art-meta">
                <span>2016-06-30</span>
            </div>

                <h3 class="h3"><strong>第十：悉尼歌剧院(The Sydney Opera House)</strong></h3>
                <section class="mfw-pic"><img src="/images/image/zMU54.jpeg" width="100%">
                    <div class="description">图：悉尼歌剧院。by Seraph_GyC</div>
                </section><p>悉尼歌剧院不仅是悉尼艺术文化的殿堂，更是悉尼的魂魄，是公认的20世纪世界十大奇迹之一。
            除圣诞节和耶稣受难日外，每天开放16小时，平均有10个不同的活动项目，可同时容纳7000余人。
            这里已成为澳大利亚最热闹的场所，旅游者、观众从早到晚络绎不绝。入夜，到这里来的人，不只是看演出，还来贝尼朗餐厅吃饭和观赏夜景。</p>
                    <dl class="clearfix">
                        <dt><img src="/images/image/A02.jpeg" width="55" height="78" alt=""></dt>
                        <dd>
                            <p class="t1">悉尼攻略</p>
                            <p class="t2">悉尼歌剧院 悉尼大桥 奥运城市</p>
                        </dd>
                    </dl></a>
                </section>
                <h3 class="h3"><strong>第九：太平山顶(The Peak)</strong></h3>
                <section class="mfw-pic"><img src="/images/image/jo86.jpeg" width="100%"><div class="description">图：太平山顶凌霄阁。by 小妖晶</div>
                </section><p>不论你是不是个浪漫的人，到了香港也一定要来太平山赏赏夜景，赏景最佳的地点在凌霄阁的观景台、缆车总站旁的狮子亭。
            太平山顶俗称山顶，香港最高点，是港岛最负盛名的豪华高级住宅区和游览胜地。在这里可以俯瞰维多利亚港的香港岛、九龙半岛两岸，日落后欣赏香港这颗“东方之珠”的美妙夜景。
            当夜幕降临之际，站在太平山上放眼四望，只见在万千灯火的映照下，香港岛和九龙宛如镶嵌在维多利亚港湾的两颗明珠，互相辉映。</p>
                    <dl class="clearfix">
                        <dt><img src="/images/image/Y81.jpeg" width="55" height="78" alt=""></dt>
                        <dd>
                            <p class="t1">香港攻略</p>
                            <p class="t2">免税店 东方明珠 购物天堂 十一好去处 冬季火锅游 跨年旅游 圣诞狂欢游 错峰出游 亲子游 iphone 中环 维多利亚港 手表 化妆品</p>
                        </dd>
                    </dl></a>
                </section>
                <h3 class="h3"><strong>第八：华特迪士尼世界(Walt Disney World)</strong></h3>
                <section class="mfw-pic"><img src="/images/image/YY38.jpeg" width="100%"><div class="description">图：迪士尼世界奇幻王国乐园。by ilovedanny2 </div>
                </section><p>华特迪士尼世界位于美国佛罗里达州奥兰多市郊，是全世界最大的迪士尼主题公园，拥有四个超大型主题乐园(魔法王国、未来世界、好莱坞影城、动物王国)和两个水上乐园(暴风滩及台风湖)，每年接待超过5200万游客。
            这里不仅是儿童的快乐天堂，也是成年人浪漫的度假胜地。对于主题公园里那些深受欢迎的项目，游客们往往要排队等上一两个小时才能体验。</p>


                <h3 class="h3"><strong>第七：白金汉宫(Buckingham Palace)</strong></h3>
                <section class="mfw-pic"><img src="/images/image/E46.jpeg" width="100%"><div class="description">图：白金汉宫。by 豆小喵 </div>
                </section><p>白金汉宫位于伦敦威斯敏斯特自治区，是英国的皇家宫殿和国王(女王)办公的地方，也是伦敦的一处重要旅游景点。
            历史上每逢英国欢庆或是危机时刻，这儿也成了不列颠人民一处重要的集会场所。白金汉宫每年8-9月对外开放，但仅有三个地方可供游人参观：王座室、音乐厅和国家餐厅，经常一票难求。</p>
                    <dl class="clearfix">
                        <dt><img src="/images/image/A85.jpeg" width="55" height="78" alt=""></dt>
                        <dd>
                            <p class="t1">伦敦攻略</p>
                            <p class="t2">伦敦奥运会 牛津 大本钟 伦敦眼 奥运城市 伦敦奥运 境外旅行 天气</p>
                        </dd>
                    </dl></a>
                </section>
                <h3 class="h3"><strong>第六：泰姬陵 (The Taj Mahal)</strong></h3>
                <section class="mfw-pic"><img src="/images/image/M47.jpeg" width="100%"><div class="description">图：泰姬陵。by 慢悠悠80s</div>
                </section><p>泰姬陵是印度莫卧尔王朝第五代皇帝沙贾汗为其爱妻泰姬玛哈尔修建的陵墓，也是世界闻名的伊斯兰建筑代表作。它始建于1631年，每天动用2万名工匠，历时22年才完成。陵墓的四周砌有长576米、宽293米的红砂石围墙，陵园占地17万平方米，其中间有一个十字形水池，中心为喷泉。由于泰姬陵通体用雪白的大理石砌成，墙壁、门扉、窗棂雕满了精美的花纹，因此早中晚不同时间去看泰姬陵，总能有一番别样的感受。</p>
                    <dl class="clearfix">
                        <dt><img src="/images/image/E5Q90.jpeg" width="55" height="78" alt=""></dt>
                        <dd>
                            <p class="t1">印度攻略</p>
                            <p class="t2">泰姬陵 恒河 新德里 信仰 苦行僧 性爱之都 咖喱 宝莱坞 纱丽 神奇的宗教</p>
                        </dd>
                    </dl></a>
                </section>
                <h3 class="h3"><strong>第五：救世基督像(Cristo Redentor)</strong></h3>
                <section class="mfw-pic"><img src="/images/image/m422.jpeg" width="100%"><div class="description">图：里约基督山。</div>
                </section><p>救世基督像是巴西里约热内卢市的标志之一，也是著名的纪念雕塑。2007年7月7日，该基督像成为世界新七大奇迹之一。
            基督像座落在里约热内卢国家森林公园中高710米的科科瓦多(又称驼背山或耶稣山)山顶之上，俯瞰着整个里约热内卢市。
            耶稣张开双臂欢迎来自世界各地的游客，是巴西人民热情接纳和宽阔胸怀的象征。</p>
                    <dl class="clearfix">
                        <dt><img src="/images/image/I67.jpeg" width="55" height="78" alt=""></dt>
                        <dd>
                            <p class="t1">里约热内卢攻略</p>
                            <p class="t2">桑巴 比基尼 足球 狂欢节 奥运城市 艳遇的国度  沙滩  美女  足球  世界杯  奥运会  上帝之城</p>
                        </dd>
                    </dl></a>
                </section>
                <h3 class="h3"><strong>第四：长城(The Great Wall)</strong></h3>
                <section class="mfw-pic"><img src="/images/image/Y50.jpeg" width="100%"><div class="description">图：八达岭长城。by 何小琪</div>
                </section><p>长城的主体工程是绵延万里的高大城墙，大都建在山岭最高处，沿着山脊把蜿蜒无尽的山势勾画出清晰的轮廓，塑造出奔腾飞跃、气势磅礴的巨龙，从而成为中华民族的象征。长城东起山海关，西到嘉峪关，全长约6700公里。俗话说：不到长城非好汉，中国的长城吸引了国内外众多想要一睹长城风采的游客，高峰时期人们只能在人群中缓慢挪步。</p>
                    <dl class="clearfix">
                        <dt><img src="/images/image/g17.jpeg" width="55" height="78" alt=""></dt>
                        <dd>
                            <p class="t1">北京攻略</p>
                            <p class="t2">故宫 长城 皇城古都 四合院 人民币风景 奥运城市 重走青春 京城Style 浪漫樱花节 浪漫樱花季 秋意正浓 天安门 胡同 新北京</p>
                        </dd>
                    </dl></a>
                </section>
                <h3 class="h3"><strong>第三：卢浮宫(Musée du Louvre)</strong></h3>
                <section class="mfw-pic"><img src="/images/image/Ro26.jpeg" width="100%"><div class="description">图：巴黎卢浮宫。by 十三疯</div>
                </section><p>卢浮宫位于法国巴黎市中心的塞纳河北岸(右岸)，原是法国的王宫，居住过50位法国国王和王后，现是卢浮宫博物馆，以收藏丰富的古典绘画和雕刻而闻名于世，是法国文艺复兴时期最珍贵的建筑物之一。<br>
                在卢浮宫里面，有三件价值连城的传世之宝。分别是爱神维纳斯雕像、胜利女神像和达芬奇的蒙娜丽莎画。这三件宝贝被称为“卢浮宫三宝”。</p>
                    <dl class="clearfix">
                        <dt><img src="/images/image/g89.jpeg" width="55" height="78" alt=""></dt>
                        <dd>
                            <p class="t1">巴黎攻略</p>
                            <p class="t2">埃菲尔铁塔 塞纳河 卢浮宫 凯旋门 奥运城市 圣诞狂欢游 左岸 香榭丽舍大街 老佛爷 C'est la vie!</p>
                        </dd>
                    </dl></a>
                </section>
                <h3 class="h3"><strong>第二：故宫(The Forbidden City)</strong></h3>
                <section class="mfw-pic"><img src="/images/image/Y20.jpeg" width="100%"><div class="description">图：故宫。by 折腾宝宝瞎折腾 </div>
                </section><p>北京故宫，旧称紫禁城，位于北京中轴线的中心，是明清两个朝代的皇宫，占地面积72万平方米，建筑面积约15万平方米，是世界上现存规模最大、保存最为完整的木质结构的宫殿型建筑。</p>
                    <dl class="clearfix">
                        <dt><img src="/images/image/g17.jpeg" width="55" height="78" alt=""></dt>
                        <dd>
                            <p class="t1">北京攻略</p>
                            <p class="t2">故宫 长城 皇城古都 四合院 人民币风景 奥运城市 重走青春 京城Style 浪漫樱花节 浪漫樱花季 秋意正浓 天安门 胡同 新北京</p>
                        </dd>
                    </dl></a>
                </section>
                <h3 class="h3"><strong>第一：纽约时代广场(Times Square)</strong></h3>
                <section class="mfw-pic"><img src="/images/image/k96.jpeg" width="100%"><div class="description">图：纽约时代广场。by lwkyz</div>
                </section><p>时代广场又称“世界的十字路口”，是美国纽约市曼哈顿的一块街区，中心位于西42街与百老汇大道交会处。
            时代广场附近聚集了近40家商场和剧院，是繁盛的娱乐及购物中心。百老汇上的剧院、大量耀眼的霓虹光管广告以及电视式的宣传版已经深入人心，成为象征纽约的标志。
            时代广场堪称世界上吸引游客最多的景点，这里每年都要接纳近0.39亿的游客。</p>

                    <dl class="clearfix">
                        <dt><img src="/images/image/Q16.jpeg" width="55" height="78" alt=""></dt>
                        <dd>
                            <p class="t1">纽约攻略</p>
                            <p class="t2">纳斯达克 华尔街 自由女神像 好莱坞 年末血拼 圣诞狂欢游 滑雪好去处 境外旅行 世界中心 这里是纽约</p>
                        </dd>
                    </dl></a>
                </section>

            </div>
        </div>
        </div>
            <div class="bar">
                <table  border="1px">
                    <tr>
                    <td width="50%"><a class="bs_collect" href="#">
                        <span>310</span><strong>喜欢</strong>
                    </a></td>
                        <td><a class="bs_share" href="#">
                            <strong>分享</strong>
                    </a></td>
                    </tr>
                </table>
            </div>
</div>
</body>
</html>