<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>使用手册</title>
</head>
<body>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/Usemanual.css">

<nav>
    <div id="nav_container">

        <div id="nav_menu">
            <ul>
                <li ><a href="/">首页</a></li>
                <li><a href="">问答</a></li>
                <li><a href="">游记</a></li>
                <li><a href="">积分兑换</a></li>
            </ul>
        </div>
        <div id="nav_login">
            <div id="weibo_login"><a href="#"></a></div>
            <div id="qq_login"><a href="#"></a></div>
            <div id="weixin_login"><a href="#"></a></div>
                <span id="login_in">
                    <a href="#">登录</a>  |
                    <a href="#">注册</a>
                </span>
        </div>
    </div>
</nav>

<header>
    <div id="header-top"><img src="/images/use-1.png">
    </div>
    <div id="header-middle"><p>自由行旅游问答手册</p>

    </div>
</header>
<section>
    <div id="section-img">
        <img src="/images/UseManual/1.png">
        <p>机器人二号</p>
    </div>
    <div id="section-content">
        <img src="/images/UseManual/5.jpg">
        <p>自由行问答，是一个所有人帮助所有人的平台</p>
        <p>在这里，你可以提出一切跟旅行有关的问题，会迅速得到回答。</p>
        <p>这些回答都是来自热心蜂蜂的真实旅行经验，</p>
        <p>问答已经覆盖了几千个旅行目的地，你可以在这里找到90%的答案，</p>
            <p>找不到的10%，就大胆提问吧！</p>
    </div>
    <div class="section-content1">
        <img src="/images/UseManual/6.jpeg">
        <p>机器人发现，在一段旅途后，有很多大神会写出牛掰闪闪的详细游记，</p>
        <p>他们记录的玩儿法以及一些较小众的信息，</p>
        <p>对许多人来说非常有用。</p>
        <p>这样的大神，数不胜数。</p>
        <p>而许多人也会在某篇游记下，询问一些详细的问题，大都也得到了满意的解答。</p>
        <p>于是，机器人想，何不开辟一片新的疆土，</p>
        <p>让有疑问的人，能迅速快捷地得到“不止一个”大神的解救；
            </p>
        <p>也让那些在某个领域很厉害的人，能更快速、更广泛地帮助大家，同时结交到更多的朋友。</p>

    </div>
    <div class="section-content1">
        <img src="/images/UseManual/7.jpg">
        <p>1.搜索：提问前，先搜索，这一步非常重要。也许你的问题已经有人提问过，并得到了很好</p>
        <p>的解答，看一下应该会有帮助。</p>
        <p>2.提问：在遵守法律和蚂蜂窝规则的前提下，与旅行相关的所有问题都可以发问。（排除结</p>
        <p>伴、交易、广告类等）</p>
        <p>3.关注：搜索想问的问题后，如果有类似问题，你可以点“关注”，问题有了新回答，你能跟提</p>
        <p>问者一样，及时收到提醒。</p>
        <p>4.标签：标签会把每一个问题快速细化，让这个问题被更多关注某个标签的蜂蜂看到，提高问
        </p>
        <p>题被解答的概率。系统会根据你的内容自动匹配标签，但机器的智商应该不如人类；当你发觉自</p>
<p> 动标签不合适时，可自行增减。</p>
        <p> 5.回答：希望这里能延续自由行一贯的精神——分享。所有人帮助所有人。我们提倡人们用自</p>
  <p>己的旅行经验，给其他人快速+真实的回答。</p>
    </div>
    <div class="section-content1">
        <img src="/images/UseManual/8.jpeg">
        <p>1.涉及政治问题及不适合公开讨论的敏感提问；</p>
        <p>2.黄色、暴力等违反相关法律法规政策的提问；</p>
        <p>3.侮辱、谩骂、人身攻击等破坏蚂蜂窝有爱氛围的提问；</p>
        <p>4.广告以及带有广告倾向的提问；</p>
        <p>5.利用马甲等手段，自问自答来获取蜂蜜的提问；</p>
        <p>6.无意义、灌水的提问；</p>
        <p>7.与旅行毫不相关的提问；
    </div>
    <div class="section-content1">
        <img src="/images/UseManual/9.jpeg">
        <p> 1.涉及政治问题及不适合公开讨论的敏感回答</p>
        <p>惩罚：系统将直接删除；情节严重者，进行禁言和封号处理；</p>
        <p>2.黄色、暴力等违反相关法律法规政策的回答</p>
        <p>惩罚：系统将直接删除；情节严重者，进行禁言和封号处理；</p>
        <p>3.侮辱、谩骂、人身攻击等破坏z自由行有爱氛围的回答</p>
        <p>惩罚：系统将直接删除；情节严重者，进行禁言甚至封号处理；</p>
        <p>4.抄袭其他人回答答案，包括全部抄袭、部分抄袭、断章取义等行为</p>
        <p>惩罚：扣除账户所有积分，已兑换的物品不予发放</p>
        <p>5.广告信息，用户名、用户头像、个人资料、提问回答评论中，含有直接或间接引导性广告信息；</p>
        <p>或任何以广告为目的进行的回答内容</p>
        <p>惩罚：一经发现，系统直接进行禁言封号处理，并删除其全部问答相关内容</p>
    </div>
</section>








<script src="/javascripts/jquery-3.1.0.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<%- include ../util/footer.ejs%>
</body>
</html>
