<!DOCTYPE html>
<html lang="en">
<head>
    <title>畅游</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>-->
    <link href="/stylesheets/index-H/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" href="/stylesheets/index-H/responsiveslides.css">
    <script src="/javascripts/index-H/jquery.min.js"></script>
    <script src="/javascripts/index-H/responsiveslides.min.js"></script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 1
            $("#slider1").responsiveSlides({
                maxwidth: 2500,
                speed: 600
            });
        });
    </script>
</head>
<body>
<!---start-footer---->
<div class="footer">
    <div class="wrap">
        <div class="footer-grids">
            <div class="footer-grid">
                <div style="display: inline-block;">
                    <h3>关于我们</h3>
                    <ul class="grid_ul">
                        <li><a href="#">关于畅游</a></li>
                        <li><a href="#">服务协议</a></li>
                        <li><a href="#">联系我们</a></li>
                        <li><a href="/users/res">加入畅游</a></li>
                    </ul>
                </div>
                <div style="display: inline-block;">
                    <h3 style="">旅行服务</h3>
                    <ul class="grid_ul">
                        <li><a href="#">旅游问答</a></li>
                        <li><a href="#">旅游攻略</a></li>
                        <!--<li><a href="#">Iquam hendrerit</a></li>
                        <li><a href="#">Donec ut lectus </a></li>-->
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<!---End-footer---->
<div class="clear"></div>
<div class="copy-right">
    <div>
        <p>© 2016 changyou.cn 京ICP备12315476号 京公网安备114405013401号 京ICP证11044318号
            新出网证(京)字242号 全国统一客服电话：4006-345-555网站地图</p>
    </div>
</div>
</body>
</html>
