body{
    background-image: url("/images/Reset1.jpg");
    font-family:  Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;
}
#section{
    background-color: #FFFFFF;
    width: 370px;
    height: 380px;
    margin-left:  auto;
    margin-right: auto;
    margin-top: 140px;

    border-radius: 8px
}
#submit{

    width: 335px;
    margin-top: 30px;
}


#form-group3-left{
    float: left;
    width: 185px;
}
#form-group3-right{
    float: right;

}