<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/common.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css"/>
    <script type="text/javascript" src="/javascripts/libs/modernizr.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-3.1.0.min.js"></script>
    <script src="/javascripts/Desinsert.js"></script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js"> </script>

</head>
<body>
<div class="topbar-wrap white">
    <div class="topbar-inner clearfix">
        <div class="topbar-logo-wrap clearfix">
            <h1 class="topbar-logo none"><a href="/LoginJudge" class="navbar-brand">后台管理</a></h1>
            <ul class="navbar-list clearfix">
                <li><a class="on" href="/index">首页</a></li>
            </ul>
        </div>
        <div class="top-info-wrap">
            <ul class="top-info-list clearfix">

                <li><a href="/">退出</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container clearfix">
    <div class="sidebar-wrap">
        <div class="sidebar-title">
            <h1>菜单</h1>
        </div>
        <div class="sidebar-content">
            <ul class="sidebar-list">
                <li>
                    <a href="#"><i class="icon-font">&#xe003;</i>常用操作</a>
                    <ul class="sub-menu">
                        <li><a href="/users/QueryAllTraveal"><i class="icon-font">&#xe008;</i>游记管理</a></li>
                        <li><a href="/users/Stratagy"><i class="icon-font">&#xe005;</i>攻略管理</a></li>
                        <li><a href="/users/Jifen"><i class="icon-font">&#xe006;</i>积分管理</a></li>
                        <li><a href="/users/QueryAllUser"><i class="icon-font">&#xe004;</i>用户管理</a></li>
                        <li><a href="/users/Question"><i class="icon-font">&#xe012;</i>问答管理</a></li>
                        <li><a href="/users/Pinglun"><i class="icon-font">&#xe052;</i>评论管理</a></li>
                        <li><a href="/"><i class="icon-font">&#xe052;</i>目的地管理</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list">
                <i class="icon-font"></i>
                <a href="/">首页</a>
                <span class="crumb-step">&gt;</span>
                <a class="crumb-name" href="##">目的地管理</a>
                <span class="crumb-step">&gt;</span>
                <a href="/users/DesInsert"><span>新增目的地</span></a></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form  method="post" id="frmUploadFile" name="myform" action='javascript:;' enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody>
                   <!--         <tr>
                                <th><i class="require-red">*</i>城市Id：</th>
                                <td>
                                    <input class="common-text required" id="title" name="CityId" size="50" value="" type="text">
                                </td>
                            </tr>-->
                            <tr>
                                <th><i class="require-red">*</i>城市名：</th>
                                <td><input class="common-text" name="CityName" size="50" value="" type="text"></td>
                            </tr>
                        <!--    <tr>
                                <th><i class="require-red">*</i>商品图：</th>
                                <td><input class="common-text" name="GoodIntegral" size="50" value="" type="text"></td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>商品数量：</th>
                                <td><input class="common-text" name="Quantity" size="50" value="" type="text"></td>
                            </tr>-->
                            <tr>
                                <th><i class="require-red">*</i>城市图：</th>
                                <td><input id="myFile" type="file" name="myFile">

                                    <!--<input type="submit" onclick="submitForm('/jscss/admin/design/upload')" value="上传图片"/>--></td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>描述：</th>
                                <td><textarea name="Describe" class="common-textarea" id="content" cols="30" style="width: 98%;" rows="10"></textarea></td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>详情：</th>
                                <td>   <div id="editor" type="text/plain" style="width: 98%;height:300px;"></div></td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-4">
                                            <input class="btn btn-primary btn6 mr10" value="提交" type="submit" id="submit" onClick="uploadFile()">
                                           <!-- <button class="btn btn-primary"  id="submit">提交</button>-->
                                            <span class="help-inline" id="spanMessage"></span>
                                        </div>

                                    </div>
                                    <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                                    <label for="control-label">图片限于bmp,png,gif,jpeg,jpg格式,且大小不超过1M</label><br/>
                                    <label for="control-label" id="fileSize"></label>
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>
        </div>

    </div>
    <!--/main-->
</div>
<script src="/javascripts/jquery-3.1.0.min.js"></script>
<script src="/javascripts/uedtior.js"></script>
</body>
</html>