<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>自由行</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/common.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css"/>
    <script type="text/javascript" src="/javascripts/libs/modernizr.min.js"></script>
</head>
<body>
<div class="topbar-wrap white">
    <div class="topbar-inner clearfix">
        <div class="topbar-logo-wrap clearfix">
            <ul class="navbar-list clearfix">
                <li><a class="on" href="/index">首页</a></li>
            </ul>
        </div>
        <div class="top-info-wrap">
            <ul class="top-info-list clearfix">
                <li><a href="/">退出</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container clearfix">
    <div class="sidebar-wrap">
        <div class="sidebar-title">
            <h1>菜单</h1>
        </div>
        <div class="sidebar-content">
            <ul class="sidebar-list">
                <li>
                    <a href="#"><i class="icon-font">&#xe003;</i>常用操作</a>
                    <ul class="sub-menu">
                        <li><a href="/users/QueryAllTraveal"><i class="icon-font">&#xe008;</i>游记管理</a></li>
                        <li><a href="/users/QueryAllStratagy"><i class="icon-font">&#xe005;</i>攻略管理</a></li>
                        <li><a href="/users/QueryAllintegral"><i class="icon-font">&#xe006;</i>积分管理</a></li>
                        <li><a href="/users/QueryAllUser"><i class="icon-font">&#xe004;</i>用户管理</a></li>
                        <li><a href="/users/QueryAllQuestion"><i class="icon-font">&#xe012;</i>问答管理</a></li>
                        <li><a href="/users/QueryAllPinglun"><i class="icon-font">&#xe052;</i>评论管理</a></li>
                        <li><a href="/users/QueryAllgoods"><i class="icon-font">&#xe052;</i>商品管理</a></li>
                        <li><a href="/users/Destination"><i class="icon-font">&#xe052;</i>目的地管理</a></li>
                        <li><a href="/users/Activity"><i class="icon-font">&#xe052;</i>活动管理</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!--/sidebar-->
    <div class="main-wrap">
        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font">&#xe06b;</i><span>欢迎使用『自由行』旅游网站。</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-title">
                <h1>快捷操作</h1>
            </div>

        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>